body {
    background: url(../images/background\ 1.png) no-repeat; 
    background-size: cover;
}

section {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    width: 1366px;
    margin: 0 auto;
}
    .container {
        width: 1030px;
        margin: 0 auto;
    }
    /* header */
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 46px;
        margin-bottom: 17px;
    }
    .header-logo {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        height: 51px;
        position: relative;  
    }
    .header-logo-orange {
        display: none;
        position: absolute;
        top: 2px;
        left: 0;
    }
    .header-logo-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        padding-top: 5px;
        padding-right: 28px;
        margin-left: 8px;
    }
      .milan {
        font-size: 29px;
        line-height: 29px;
    }
    .header-logo:hover  .header-logo-orange {
        display: inline;
    }
    .header-logo:hover > .header-logo-text{
        color: #F26522;
    }
   .nav-list {
    text-align: right;
    padding-right: 7px;
    }
    .nav-email {
        padding-bottom: 19px;
    }
    li:hover {
        color: #F26522;
    }
    /* main */

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 54px;
        row-gap: 37px;
        text-align: center;
    }
    .main-item {
        width: 300px;
        position: relative;
    }
    .img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: none;
    }
    h3 {
        padding-top: 20px;
    }

    .overlay {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 38px;
        background-color: #F26522;
        overflow: hidden;
        height: 0;
        transition: .5s ease;
    }
    .overlay-price {
        margin: 7px 0 34px 16px;

    }
    .from {
        font-size: 10px;
        line-height: 10px;
        margin-bottom: 8px;
    }
    .price{
        font-size: 20px;
        line-height: 20px;
    }
    .more {
        position: relative;
        font-size: 14px;
        line-height: 14px;
        margin-top: 29px;
        margin-right: 37px;
    }
    .more::after {
        content: "";
        position: absolute;
        background: url(../images/Vector.png) no-repeat;
        height: 12px;
        width: 8px;
        right: -20px;
    }
   
    .main-item:hover .overlay {
        height: 55px;
        width: 100%;
    }
    .main-item:hover > h3{
        color: #F26522;
    }
    footer {
        text-align: center;
        margin-top: 48px;
        padding-bottom: 15px;
        font-size: 12px;
        line-height: 12px;
    }